{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "browsers": ["last 5 versions", "safari >= 7", "ie >= 9"]
      }
    }]
  ],
  "env": {
    "production": {
      "comments": false,
      "presets": [
        "babel-preset-minify"
      ]
    }
  }
}
